<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Zoho CRM | Js | PrimeVue</title>
    <script src="https://live.zwidgets.com/js-sdk/1.5/ZohoEmbededAppSDK.min.js"></script>
</head>
<body>
<div id="app">
    <div
            style="display: flex; justify-content: center; align-items: center; height: 100vh; font-size: 1.5rem; font-weight: bold;"
    >
        Loading...
    </div>
</div>
<script type="module" src="/src/main.js"></script>
</body>
</html>
